<div class="m-3">
        <div class="row mb-3">
            <div class="col">
                <h1>Usuários</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of usuarios">
                            <td>{{u.nome}}</td>
                            <td>{{u.email}}</td>
                            <td>
                                <span *ngIf="u.ativo; else inativo" class="badge rounded-pill bg-success">Sim</span>
                                <ng-template #inativo>
                                    <span class="badge rounded-pill bg-danger">Não</span>
                                </ng-template>
                            </td>
                            <td>
                                <a [routerLink]="['/estabelecimento/usuarios/editar/'+u.id]" class="btn btn-warning me-2 btn-sm">Editar</a>
                                <button *ngIf="u.ativo" type="button" class="btn btn-danger btn-sm" (click)="desativarUsuario(u.id)">Desativar</button>
                                <button *ngIf="!u.ativo" type="button" class="btn btn-success btn-sm" (click)="ativarUsuario(u.id)">Ativar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>