<app-view-wrapper>
    <div class="m-3">
        <div class="row mb-3">
            <div class="col">
                <h1>Usuários</h1>
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-plus"></i>
                    Usuário
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of usuarios">
                            <td>{{u.nome}}</td>
                            <td>{{u.email}}</td>
                            <td>{{u.ativo}}</td>
                            <td>
                                <a href="#" class="btn btn-warning me-2">Editar</a>
                                <button type="button" class="btn btn-danger">Apagar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-view-wrapper>