<app-view-wrapper>
    <div class="row ms-2">
        <div class="col">
            <h1>Pedidos</h1>
        </div>
    </div>
    <div class="row m-3 dados-pedido" *ngFor="let pedido of pedidos">
        <div class="col p-4">
            <h3>{{pedido.dataHora | ddMmYYYYDate}} - <span class="badge bg-success">{{pedido.statusPedido}}</span></h3>
            <p>{{pedido.descricao}}</p>
            <p>Estabelecimento: {{pedido.estabelecimento}}</p>
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</app-view-wrapper>