<app-view-wrapper>
    <div class="row ms-2">
        <div class="col">
            <h1>Pedidos</h1>
        </div>
    </div>
    <div class="row m-3 dados-pedido" *ngFor="let pedido of pedidos">
        <div class="col p-4">
            <h3>
                {{pedido.dataHora | ddMmYYYYDate}}
                <span *ngIf="pedido.statusPedido == 'FINALIZADO'" class="badge bg-success">{{pedido.statusPedido}}</span>
                <span *ngIf="pedido.statusPedido == 'PENDENTE'" class="badge bg-secondary">{{pedido.statusPedido}}</span>
                <span *ngIf="pedido.statusPedido == 'CANCELADO'" class="badge bg-danger">{{pedido.statusPedido}}</span>
            </h3>
            <p>{{pedido.descricao}}</p>
            <p>Estabelecimento: {{pedido.estabelecimento}}</p>
            <button *ngIf="pedido.statusPedido == 'PENDENTE'" class="btn btn-danger btn-sm">Cancelar</button>
        </div>
    </div>
</app-view-wrapper>