<div class="container">
    <div class="row m-3 d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <h1 class="text-center">Criar Conta</h1>
                        <div class="mb-3">
                            <label class="form-label">Nome</label>
                            <input type="text" class="form-control" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && f['nome'].errors }">
                            <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                                <div *ngIf="f['nome'].errors['required']">Nome é obrigatório</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">Email é obrigatório</div>
                                <div *ngIf="f['email'].errors['email']">Email inválido</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Senha</label>
                            <input type="password" class="form-control" formControlName="senha" [ngClass]="{ 'is-invalid': submitted && f['senha'].errors }">
                            <div *ngIf="submitted && f['senha'].errors" class="invalid-feedback">
                                <div *ngIf="f['senha'].errors['required']">Senha é obrigatória</div>
                                <div *ngIf="f['senha'].errors['minlength']">
                                    Senha mínimo 4 caracteres
                                </div>
                                <div *ngIf="f['senha'].errors['maxlength']">
                                    Senha máximo 40 caracteres
                                </div>
                            </div>
                        </div>

                        <fieldset formGroupName="endereco" class="form-group border mb-3 p-4">
                            <legend>Endereço</legend>
                            <div class="mb-3">
                                <label class="form-label">Cidade</label>
                                <input type="text" class="form-control" formControlName="cidade" [ngClass]="{ 'is-invalid': submitted && e['cidade'].errors }">
                                <div *ngIf="submitted && e['cidade'].errors" class="invalid-feedback">
                                    <div *ngIf="e['cidade'].errors['required']">Cidade é obrigatória</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">UF</label>
                                <input type="text" class="form-control" formControlName="uf" [ngClass]="{ 'is-invalid': submitted && e['uf'].errors }">
                                <div *ngIf="submitted && e['uf'].errors" class="invalid-feedback">
                                    <div *ngIf="e['uf'].errors['required']">UF é obrigatória</div>
                                    <div *ngIf="e['uf'].errors['minlength']">
                                        UF deve ter 2 caracteres
                                    </div>
                                    <div *ngIf="e['uf'].errors['maxlength']">
                                        UF deve ter 2 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Bairro</label>
                                <input type="text" class="form-control" formControlName="bairro" [ngClass]="{ 'is-invalid': submitted && e['bairro'].errors }">
                                <div *ngIf="submitted && e['bairro'].errors" class="invalid-feedback">
                                    <div *ngIf="e['bairro'].errors['required']">Bairro é obrigatório</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Rua</label>
                                <input type="text" class="form-control" formControlName="rua" [ngClass]="{ 'is-invalid': submitted && e['rua'].errors }">
                                <div *ngIf="submitted && e['rua'].errors" class="invalid-feedback">
                                    <div *ngIf="e['rua'].errors['required']">Rua é obrigatório</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Número</label>
                                <input type="text" class="form-control" formControlName="numero" [ngClass]="{ 'is-invalid': submitted && e['numero'].errors }">
                                <div *ngIf="submitted && e['numero'].errors" class="invalid-feedback">
                                    <div *ngIf="e['numero'].errors['required']">Número é obrigatório</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Complemento</label>
                                <input type="text" class="form-control">
                            </div>
                        </fieldset>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
                        </div>
                    </form>
                    <a [routerLink]="['/login']">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>