<app-view-wrapper>
    <div class="row p-3">
        <div class="col">
            <form>
                <h2>Cadastro Pedido</h2>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="floatingTextarea" name="descricao" [(ngModel)]="cadastroPedido.descricao"></textarea>
                    <label for="floatingTextarea">Descrição</label>
                </div>
                <div class="mb-3">
                    <button type="button" class="btn btn-primary" (click)="salvarPedido()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</app-view-wrapper>