<div class="m-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Cadastro usuário</h2>
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="nome" [ngClass]="{ 'is-invalid': submitted && f['nome'].errors }">
            <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                <div *ngIf="f['nome'].errors['required']">Nome é obrigatório</div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email é obrigatório</div>
                <div *ngIf="f['email'].errors['email']">Email inválido</div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" formControlName="senha" [ngClass]="{ 'is-invalid': submitted && f['senha'].errors }">
            <div *ngIf="submitted && f['senha'].errors" class="invalid-feedback">
                <div *ngIf="f['senha'].errors['required']">Senha é obrigatória</div>
                <div *ngIf="f['senha'].errors['minlength']">
                    Senha mínimo 4 caracteres
                </div>
                <div *ngIf="f['senha'].errors['maxlength']">
                    Senha máximo 40 caracteres
                </div>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
        </div>
    </form>
</div>