<div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
    <img src="../../../../assets/img/market-analysis-icon.png" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none"/>

    <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
        <li class="nav-item" *ngFor="let op of opcoes">
            <a [routerLink]="op.route" class="nav-link px-sm-0 px-2 text-light" [title]="op.titulo">
                <i [class]="op.icon" class="me-2"></i><span class="ms-1 d-none d-sm-inline ml-2">{{op.titulo}}</span>
            </a>
        </li>
    </ul>
    <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
        <div style="cursor:pointer;" (click)="abrirDropdown()" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1">
            <img src="../../../../assets/img/person-icon.png" alt="hugenerd" width="28" height="28" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">{{usuario?.nome}}</span>
        </div>
        <ul #dropdown class="dropdown-menu dropdown-menu-dark text-small shadow custom-dropdown" aria-labelledby="dropdownUser1">
            <li><a [routerLink]="urlPerfil" class="dropdown-item">Perfil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">Sair</a></li>
        </ul>
    </div>
</div>