<app-view-wrapper>
    <div class="row ms-2">
        <div class="col">
            <h1>Pedidos</h1>
        </div>
    </div>
    <div class="row mb-4" *ngFor="let pedido of pedidos">
        <div class="col">
            <div class="card p-2">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{pedido.nomeCliente}} - 
                                <span *ngIf="pedido.statusPedido == 'FINALIZADO'" class="badge bg-success">{{pedido.statusPedido}}</span>
                                <span *ngIf="pedido.statusPedido == 'PENDENTE'" class="badge bg-secondary">{{pedido.statusPedido}}</span>
                                <span *ngIf="pedido.statusPedido == 'CANCELADO'" class="badge bg-danger">{{pedido.statusPedido}}</span>
                            </h5>
                            <p class="card-text">{{pedido.descricao}}</p>
                            <p class="card-text"><small class="text-muted">{{pedido.dataHora | ddMmYYYYDate}}</small></p>
                            <div class="d-flex">
                                <button *ngIf="pedido.statusPedido == 'PENDENTE'" type="button" class="btn btn-warning btn-sm me-2" (click)="mudarStatusPedido(pedido,'FINALIZADO')">
                                    <i class="bi bi-check-lg"></i>
                                    Marcar com entregue
                                </button>
                                <button *ngIf="pedido.statusPedido == 'PENDENTE'" type="button" class="btn btn-danger btn-sm" (click)="mudarStatusPedido(pedido,'CANCELADO')">
                                    <i class="bi bi-x-lg"></i>
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-view-wrapper>